
@{
    ViewBag.Title = "OCB Office";
}

@section css{
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fullcalendar/main.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fullcalendar-daygrid/main.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fullcalendar-timegrid/main.min.css" />
    <link rel="stylesheet" href="~/Content/AdminLTE/plugins/fullcalendar-bootstrap/main.min.css" />
    <style>
        .fc-day{
            cursor:pointer !important;
        }
        .fc-day-grid-event .fc-content {
            max-height: 100px;
            overflow: auto;
            white-space: normal;
        }
    </style>
}

<!-- Main content -->
<section class="content">
    <!-- /.container-fluid -->
    <div class="container-fluid">
        <div class="row">
            <!-- /.col -->
            <div class="col-md-12">
               @* <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>*@
                <h5 class="text-danger">Hướng dẫn: </h5>
                <ul>
                    <li>Click vào ngày đi trễ hay về sớm nếu muốn ghi chú lý do đi trễ, về sớm của ngày đó.</li>
                </ul>
                @Html.ValidationSummary("",new { @class="text-danger" })
                @*@if(TempData["SuccessMessage"] != null)
                {
                    <p class="alert alert-success">
                        @TempData["SuccessMessage"]
                    </p>
                }*@
                <div class="card card-primary">
                    <div class="card-body p-0">
                        <!-- THE CALENDAR -->
                        <div id="calendar"></div>
                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
</section>
<!-- /.content -->
 
@section scripts{
    <script src="/Content/AdminLTE/plugins/moment/moment.min.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar/main.min.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar-daygrid/main.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar-timegrid/main.min.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar-interaction/main.min.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar-bootstrap/main.js"></script>
    <script src="/Content/AdminLTE/plugins/fullcalendar/locales/vi.js"></script>

    <script type="text/javascript">

        $(document).on('click', '.fc-day', function () {
            var date = $(this).attr('data-date');
            var objHistory = historyCheckIn.filter(x => formatDate(x.DateCheckInDecrypt,'ymd') == date)[0];
            if (objHistory != null) {
                showPopupEditNote(objHistory);
            }
        });
        $(function () {
            loadData();

            function loadData() {
                $.ajax({
                    url: '@Url.Action("GetHistoryCheckIn","Home")',
                    method: 'Post',
                    beforeSend: _lockScreen(),
                    success: function (ret) {
                        _unlockScreen();
                        var data = [];
                        if (ret.ErrorCode == 1) {
                            var res = JSON.parse(ret.Data);
                            historyCheckIn = res;
                            for (var i in res) {
                                var obj = {};
                                obj.title = res[i].Title;
                                var fromDate_tem = new Date(res[i].DateCheckInDecrypt);
                                var toDate_tem = new Date(res[i].DateCheckOutDecrypt);
                                var fromDate = new Date(fromDate_tem.getFullYear(), fromDate_tem.getMonth(), fromDate_tem.getDate(), fromDate_tem.getHours(), fromDate_tem.getMinutes());
                                var toDate = new Date(toDate_tem.getFullYear(), toDate_tem.getMonth(), toDate_tem.getDate(), toDate_tem.getHours(), toDate_tem.getMinutes());
                                obj.start = fromDate;
                                obj.end = toDate;
                                obj.allDay = false;
                                obj.backgroundColor = res[i].BackgroundColor;
                                obj.borderColor = res[i].BackgroundColor;
                                obj.url = "javascript:editNote(" + i + ")";
                                data.push(obj);
                            }
                        }
                        var calendarEl = document.getElementById('calendar');
                        var Calendar = FullCalendar.Calendar;
                        var calendar = new Calendar(calendarEl, {
                            locale: 'vi',
                            plugins: ['bootstrap', 'interaction', 'dayGrid', 'timeGrid'],
                            header: {
                                left: 'prev,next today',
                                center: 'title',

                            },
                            'themeSystem': 'bootstrap',
                            eventRender: function (event, element) {
                                $(event.el).tooltip({ title: event.el.text, container: "body", placement: 'top' });
                            },
                            events: data,
                            editable: false,
                            droppable: false
                        });
                        calendar.render();
                    }
                });
            }

        })
    </script>
}