<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="FNCEWS40MTOMBinding">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpsTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="https://10.96.23.11:9443/wsi/FNCEWS40MTOM/"
                binding="customBinding" bindingConfiguration="FNCEWS40MTOMBinding"
                contract="CEWSI.FNCEWS40PortType" name="FNCEWS40MTOMPort" />
        </client>
    </system.serviceModel>
  <appSettings>
    <add key="ECM_FOLDER" value="/OCBDevTest/ECMTestFile" />
    <add key="ECM_USER" value="cpesvc" />
    <add key="ECM_DOMAIN" value="10.96.23.21" />
    <add key="ECM_PASSWORD" value="zxcv@123" />
    <add key="ECM_OBJECT_STORE" value="Object01" />
    <add key="ECM_URL" value="https://10.96.23.21:9443/wsi/FNCEWS40MTOM/" />
    <add key="ECM_IS_USE_CERT" value="1" />
  </appSettings>  
</configuration>